

$white:              #FFFFFF;
$black:              #000000;
$dark-brown:         #1A120B;
$brown:              #3C2A21;
$beige:              #D5CEA3;
$grey:               #E5E5CB;
$blue:               #5F6084;
$green:              #5F8184;

$box-shadow: 0 3px 15px rgba(0,0,0,.3);


$colors: (

    'white':          $white,
    'black':          $black,
    'dark-brown':     $dark-brown,
    'brown':          $brown,
    'beige':          $beige,
    'grey':           $grey,
   
);


// background
@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}
