@use 'util/'as *;
@use 'layout/'as *;
@use 'pages/'as *;
@use 'components/'as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}
